.shotname-teacher {
  white-space: nowrap; 
  overflow: hidden; 
  width: 180px; 
  text-overflow: ellipsis; 
  text-align: left;
}

.row-student-home {
  margin-top: 30px;
}

.text-home {
  text-align: center;
  color: white;
  position: fixed;
 top: 50%;  
 left: 50%;  
 transform:translate(-50%,-50%);
}

.btn-joinclass-home-std {
  margin-top: 40px;
}

.sand-clock-icon {
  animation: sand-clock-icon 2s linear infinite;
 }
 @keyframes sand-clock-icon {
  0% {
   opacity: 0;
  }
  50% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
 }

@media only screen and (max-width: 1024px) {
  .row-student-home {
    margin-top: 0px;
  }

  .join-class-btn {
    margin-bottom: 25px !important;
  }
}

@media only screen and (max-width: 820px) {
  .join-class-btn {
    margin-top: -25px !important;
  }
}