body {
  font-family: 'Rubik', sans-serif;
}

.darkGray , .darkGray:focus{
  color: #5E5E5E;
}

.lightGray {
  color: #acacac;
}

.flexBox {
  display: flex;
  justify-content: center;
}

.boxSwitch {
  display: flex;
  background-color: #E5E3E3;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  justify-content: center;
  margin-bottom: 30px;
}

.selectRole {
  width: 48%;
  background-color: #E5E3E3;
  margin-top: 8px;
  border-radius: 50px;
  height: 35px;
  border: none;
}

.selectRoleActive {
  background-color: #698AEA;
  color: white;
  width: 48%;
  margin-top: 8px;
  border-radius: 50px;
  height: 35px;
  border: none;
}
.uploadImage {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.image {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 3.5px solid #698AEA;
}

.faceIcon {
  width: 110px;
  height: 110px;  
}

.boxButton {
  width: 120px;
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

.uploadButton {
  width: 30px;
  height: 30px;
  background-color: #698AEA; 
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.penIcon {
  color: white;
  font-size: 14px;
}

.topicForm {
  color: #acacac;
  font-size: 14px;
  margin-bottom: 5px;
}

.iconEye {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #5E5E5E;
}

.buttonStyle {
  width: 100%;
}

//logo in authNavbar
.logo-navbar-login {
  width: 150px;
  height: 100% !important;
}