.do-quest {
  margin-top: 26px;
  margin-bottom: 25px;
}

.box-quest2 {
  height: 480px; 
  width: 640px; 
}

@media screen and (max-width: 820px) { 
  .modal-doQuest {
    width: 600px !important;
    background-color: aqua;
  }
  
  .box-quest2 {
    height: 360px; 
    width: 480px; 
    background-color: aquamarine !important;
  }  
}

@media screen and (max-width: 415px) { 
  .td-nonePadding6 {
    padding-right: 0px !important;
  }
  .text-complete {
    margin-top: 20px;
  }
  .footer-none {
    display: none;
  }
}

@media screen and (max-width: 376px) { 
  .td-nonePadding6, .Attendance-student {
    padding-left: 15px !important;
  }
}