.edit-classroom ,.edit-classroom:hover {
  width: 100%;
  background-color: rgba(124, 124, 124, 0.623); 
  border-radius: 10px;
  margin-top: -50px;
  font-size: 16px;
}

.edit-classroom:active {
  background-color: rgba(85, 85, 85, 0.623) !important; 
}