.edit-classroom ,.edit-classroom:hover {
  width: 350px;
  background-color: rgba(124, 124, 124, 0.623); 
  border-radius: 10px;
  margin-top: -50px;
  font-size: 16px;
}

.edit-classroom:active {
  background-color: rgba(85, 85, 85, 0.623) !important; 
}

.subject-date-time {
  display: flex;
}

.time-sec {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .subjectCode-userHeader {
    margin-top: -80px;
  }
}

@media only screen and (max-width: 820px) {
  .subjectCode-userHeader {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .modal-edit-classroom {
    padding: 0rem;
  }
  .bg-classroom {
    min-height: 400px !important;
  }

  .subject-name {
    margin-top: -50px;
    text-align: center;
    font-size: 30px;
  }

  .subject-detail {
    display: block !important;
  }

  // .subject-date-time {
  //   text-align: center;
  // }

  .edit-classroom ,.edit-classroom:hover {
    width: 60%;
    margin-left: 20%;
  }

  .btn-coverImage {
    width: 100px;
  }
}
